<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APISuite">
    <listeners>
        <listener class-name="com.bookstore.util.ExtentTestNGListener"/>
    </listeners>
    <test name="APITests">
        <classes>

            <class name="com.bookstore.tests.AccountsTests"/>
            <class name="com.bookstore.tests.BooksTest"/>
            <class name="com.bookstore.tests.HealthCheckTest"/>

        </classes>
    </test>
</suite>
